#bck{
  background-position: center;
  background-size: cover;
  width: 100pc;
  height: 100pc;
}

body{
  background-image: url(images/about-background.jpeg);
  color: lightcyan;
}

h1{
  font-style: italic;
  color: darkred;
}

p2{
  font-weight: bold;

}